BODY {
	FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: rgb(0,0,0); FONT-SIZE: 14px
}
DIV.book P {
	DISPLAY: block; FONT-FAMILY: Helvetica, Arial, sans-serif; MAX-WIDTH: 720px; FONT-SIZE: 14px
}
DIV.section P {
	DISPLAY: block; FONT-FAMILY: Helvetica, Arial, sans-serif; MAX-WIDTH: 720px; FONT-SIZE: 14px
}
DIV.chapter P {
	DISPLAY: block; FONT-FAMILY: Helvetica, Arial, sans-serif; MAX-WIDTH: 720px; FONT-SIZE: 14px
}
DIV.appendix P {
	DISPLAY: block; FONT-FAMILY: Helvetica, Arial, sans-serif; MAX-WIDTH: 720px; FONT-SIZE: 14px
}
DIV.preface P {
	DISPLAY: block; FONT-FAMILY: Helvetica, Arial, sans-serif; MAX-WIDTH: 720px; FONT-SIZE: 14px
}
DIV.book A:link {
	COLOR: rgb(0,117,159); TEXT-DECORATION: underline
}
DIV.chapter A:link {
	COLOR: rgb(0,117,159); TEXT-DECORATION: underline
}
DIV.section A:link {
	COLOR: rgb(0,117,159); TEXT-DECORATION: underline
}
DIV.appendix A:link {
	COLOR: rgb(0,117,159); TEXT-DECORATION: underline
}
DIV.preface A:link {
	COLOR: rgb(0,117,159); TEXT-DECORATION: underline
}
DIV.book A:visited {
	COLOR: rgb(1,90,132); TEXT-DECORATION: underline
}
DIV.chapter A:visited {
	COLOR: rgb(1,90,132); TEXT-DECORATION: underline
}
DIV.section A:visited {
	COLOR: rgb(1,90,132); TEXT-DECORATION: underline
}
DIV.appendix A:visited {
	COLOR: rgb(1,90,132); TEXT-DECORATION: underline
}
DIV.preface A:visited {
	COLOR: rgb(1,90,132); TEXT-DECORATION: underline
}
DIV.toc A.tocdetail {
	TEXT-DECORATION: none
}
DIV.part H1 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H1 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H1 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H1 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H1 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H2 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H2 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H2 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H2 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H4 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H4 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H4 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H4 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H5 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H5 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H5 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H5 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter H6 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.section H6 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.appendix H6 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.preface H6 {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.chapter P.title {
	FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.part H1 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H1 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H1 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H2 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H2 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H3 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H3 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H4 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H4 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H5 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H5 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter H6 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.section H6 STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
SPAN.section A SPAN STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
SPAN.chapter A SPAN STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.chapter P.title STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 120%; FONT-WEIGHT: normal
}
DIV.part H1 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H1 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H1 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H2 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H2 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H3 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H3 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H4 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H4 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H5 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H5 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter H6 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section H6 CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
SPAN.section A SPAN CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
SPAN.chapter A SPAN CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter P.title CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.chapter CODE {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(14,64,117); FONT-SIZE: 95%; FONT-WEIGHT: normal
}
DIV.section CODE {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(14,64,117); FONT-SIZE: 95%; FONT-WEIGHT: normal
}
DIV.book A CODE {
	TEXT-DECORATION: underline
}
DIV.chapter A CODE {
	TEXT-DECORATION: underline
}
DIV.section A CODE {
	TEXT-DECORATION: underline
}
DIV.chapter PRE {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(161,82,15); FONT-SIZE: 95%
}
DIV.section PRE {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(161,82,15); FONT-SIZE: 95%
}
DIV.chapter SUP {
	FONT-SIZE: smaller; VERTICAL-ALIGN: super
}
DIV.section SUP {
	FONT-SIZE: smaller; VERTICAL-ALIGN: super
}
TABLE.topic-guide TD SUP {
	FONT-SIZE: smaller; VERTICAL-ALIGN: super
}
.type {
	FONT-FAMILY: "Courier New", Courier, fixed, monospace; FONT-SIZE: 95%
}
DIV.variablelist P.title B {
	COLOR: rgb(2,103,137); FONT-SIZE: 200%
}
DIV.index DIV.index DIV.indexdiv H3 {
	COLOR: rgb(2,103,137); FONT-SIZE: 200%
}
DIV A.firstterm:link {
	TEXT-DECORATION: none
}
DIV A.firstterm:visited {
	TEXT-DECORATION: none
}
DIV A.firstterm:hover {
	TEXT-DECORATION: underline
}
DIV A.firstterm:active {
	TEXT-DECORATION: underline
}
EM.glossterm {
	BORDER-BOTTOM: green 1px dotted; FONT-STYLE: normal; COLOR: black; TEXT-DECORATION: none
}
EM.firstterm {
	BORDER-BOTTOM: green 1px dotted; FONT-STYLE: normal; COLOR: black; TEXT-DECORATION: none
}
DIV.figure P.title B {
	FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
DIV.part H1 {
	LINE-HEIGHT: 100%; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 250%; FONT-WEIGHT: bold
}
DIV.chapter H1 {
	LINE-HEIGHT: 100%; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 250%; FONT-WEIGHT: bold
}
DIV.book DIV.titlepage H1.title {
	LINE-HEIGHT: 100%; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 250%; FONT-WEIGHT: bold
}
DIV.col66 DIV.book DIV.titlepage H1.title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 150%; FONT-WEIGHT: bold
}
DIV.book DIV.titlepage H2 {
	BACKGROUND-COLOR: white; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 200%; FONT-WEIGHT: normal
}
DIV.chapter DIV.titlepage H2 {
	BACKGROUND-COLOR: white; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 200%; FONT-WEIGHT: normal
}
DIV.appendix DIV.titlepage H2 {
	BACKGROUND-COLOR: white; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 200%; FONT-WEIGHT: normal
}
DIV.preface DIV.titlepage H2 {
	BACKGROUND-COLOR: white; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 200%; FONT-WEIGHT: normal
}
DIV.section DIV.titlepage H2 {
	BACKGROUND-COLOR: white; COLOR: black; FONT-SIZE: 180%; FONT-WEIGHT: bold
}
DIV.section DIV.titlepage H3 {
	BACKGROUND-COLOR: white; COLOR: black; FONT-SIZE: 160%; FONT-WEIGHT: bold
}
DIV.section DIV.titlepage H4 {
	BACKGROUND-COLOR: white; COLOR: black; FONT-SIZE: 140%; FONT-WEIGHT: bold
}
DIV.section DIV.titlepage H5 {
	BACKGROUND-COLOR: white; COLOR: black; FONT-SIZE: 120%; FONT-WEIGHT: bold
}
DIV.section DIV.titlepage H6 {
	BACKGROUND-COLOR: white; COLOR: black; FONT-WEIGHT: normal
}
.errorcode {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(123,61,35); FONT-WEIGHT: normal
}
.errorname {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(123,61,35); FONT-WEIGHT: bold
}
.errortext {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(123,61,35); FONT-WEIGHT: normal
}
.errortype {
	BACKGROUND-COLOR: white; FONT-STYLE: italic; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(123,61,35)
}
DIV.warning DIV.admon-title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.warning H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.note DIV.admon-title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.note H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.important DIV.admon-title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.important H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.caution DIV.admon-title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.caution H3 {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
DIV.note {
	BORDER-LEFT: black 5px solid; PADDING-LEFT: 5px; MARGIN-RIGHT: 1in
}
DIV.warning {
	BORDER-LEFT: red 5px solid; PADDING-LEFT: 5px; MARGIN-RIGHT: 1in
}
DIV.caution {
	BORDER-LEFT: yellow 5px solid; PADDING-LEFT: 5px; MARGIN-RIGHT: 1in
}
DIV.important {
	BORDER-LEFT: maroon 5px solid; PADDING-LEFT: 5px; MARGIN-RIGHT: 1in
}
P.mnmas B {
	BACKGROUND-COLOR: white; DISPLAY: block; COLOR: green
}
P.mnmas {
	BORDER-BOTTOM: green 1px solid; BORDER-LEFT: green 5px solid; BACKGROUND-COLOR: white; PADDING-LEFT: 5px; COLOR: green; BORDER-TOP: green 1px solid; BORDER-RIGHT: green 1px solid; border-image: none
}
P.mnmas-kb B {
	BACKGROUND-COLOR: white; DISPLAY: block; COLOR: rgb(102,51,204)
}
P.mnmas-kb {
	BORDER-BOTTOM: green 1px solid; BORDER-LEFT: green 5px solid; BACKGROUND-COLOR: white; PADDING-LEFT: 5px; COLOR: rgb(102,51,204); BORDER-TOP: green 1px solid; BORDER-RIGHT: green 1px solid; border-image: none
}
P.mccge-warning B {
	PADDING-RIGHT: 0.5em
}
P.mccge-warning {
	BORDER-BOTTOM: blue 1px solid; BORDER-LEFT: blue 5px solid; BACKGROUND-COLOR: white; PADDING-LEFT: 5px; COLOR: blue; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid; border-image: none
}
P.depnote B {
	BACKGROUND-COLOR: white; DISPLAY: block; COLOR: red
}
P.depnote {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 5px solid; BACKGROUND-COLOR: white; PADDING-LEFT: 5px; COLOR: red; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid; border-image: none
}
DIV.preface PRE.programlisting {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MAX-WIDTH: 720px; BACKGROUND: rgb(238,238,238); COLOR: black; FONT-SIZE: 13px; PADDING-TOP: 2px
}
DIV.chapter PRE.programlisting {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MAX-WIDTH: 720px; BACKGROUND: rgb(238,238,238); COLOR: black; FONT-SIZE: 13px; PADDING-TOP: 2px
}
DIV.appendix PRE.programlisting {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MAX-WIDTH: 720px; BACKGROUND: rgb(238,238,238); COLOR: black; FONT-SIZE: 13px; PADDING-TOP: 2px
}
DIV.section PRE.programlisting {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MAX-WIDTH: 720px; BACKGROUND: rgb(238,238,238); COLOR: black; FONT-SIZE: 13px; PADDING-TOP: 2px
}
.guibutton {
	BORDER-BOTTOM: rgb(0,0,0) 1px double; BORDER-LEFT: rgb(0,0,0) 1px double; PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.2em; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: inline; FONT-FAMILY: Helvetica, Arial, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: rgb(255,255,255); COLOR: black; BORDER-TOP: rgb(0,0,0) 1px double; BORDER-RIGHT: rgb(0,0,0) 1px double; PADDING-TOP: 1px; border-image: none
}
.guilabel {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.2em; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: inline; FONT-FAMILY: Helvetica, Arial, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: rgb(221,221,221); COLOR: black; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
.guimenu {
	BORDER-LEFT: rgb(85,85,85) 4px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.2em; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; DISPLAY: inline; FONT-FAMILY: Helvetica, Arial, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: rgb(221,221,221); COLOR: black; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
STRONG.keycap {
	BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.2em; FONT-VARIANT: small-caps; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: inline; BACKGROUND: rgb(238,238,238); COLOR: black; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid; PADDING-TOP: 1px; border-image: none
}
#subfld H1 {
	FONT-SIZE: 90%; FONT-WEIGHT: bold
}
SPAN.section A SPAN STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; COLOR: rgb(153,0,0); FONT-SIZE: 110%; FONT-WEIGHT: normal
}
STRONG.command {
	BACKGROUND-COLOR: white; FONT-STYLE: oblique; COLOR: rgb(153,0,0); FONT-SIZE: 110%; FONT-WEIGHT: normal
}
DT SPAN CODE {
	FONT-WEIGHT: bold
}
CODE {
	FONT-SIZE: 95%
}
P STRONG CODE {
	FONT-SIZE: 95%; FONT-WEIGHT: normal
}
PRE STRONG CODE {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: italic; FONT-SIZE: 100%
}
EM CODE {
	FONT-SIZE: 110%
}
CODE EM CODE {
	FONT-SIZE: 100%
}
SPAN.type {
	FONT-FAMILY: "Courier New", Courier, fixed, monospace
}
SPAN.bold STRONG {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
SPAN.emphasis EM {
	FONT-STYLE: italic; FONT-WEIGHT: normal
}
SPAN.section SPAN STRONG.command {
	FONT-FAMILY: "Courier New", Courier, fixed, monospace; FONT-SIZE: 110%; FONT-WEIGHT: bold
}
SPAN.section CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 95%; FONT-WEIGHT: bold
}
DIV.section CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 95%; FONT-WEIGHT: bold
}
DIV.chapter CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 95%; FONT-WEIGHT: bold
}
DIV.section CODE.classname {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 95%; FONT-WEIGHT: bold
}
DIV.example CODE.literal {
	BACKGROUND-COLOR: white; FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(2,103,137); FONT-SIZE: 95%; FONT-WEIGHT: bold
}
.example-break {
	DISPLAY: none
}
TD CODE.literal {
	FONT-SIZE: 100%
}
P.deprecated SPAN.bold STRONG {
	BACKGROUND-COLOR: white; FONT-STYLE: normal; COLOR: red; FONT-WEIGHT: bold
}
DIV.section DIV.titlepage H1 CODE {
	FONT-SIZE: 100%
}
DIV.section DIV.titlepage H2 CODE {
	FONT-SIZE: 100%
}
DIV.section DIV.titlepage H3 CODE {
	FONT-SIZE: 100%
}
DIV.section DIV.titlepage H4 CODE {
	FONT-SIZE: 100%
}
DIV.section DIV.titlepage H5 CODE {
	FONT-SIZE: 100%
}
DIV.section DIV.titlepage H1 CODE {
	FONT-SIZE: 100%
}
STRONG.command {
	FONT-FAMILY: "Courier New", Courier, fixed, monospace; COLOR: rgb(153,0,0); FONT-SIZE: 100%; FONT-WEIGHT: normal
}
EM.replaceable CODE {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: inherit; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: inherit; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
PRE.programlisting EM.replaceable CODE {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: inherit; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: inherit; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
STRONG.userinput CODE {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: inherit; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: inherit; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
PRE.programlisting STRONG.userinput CODE {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: inherit; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: inherit; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
P CODE.filename {
	BACKGROUND-COLOR: white; COLOR: rgb(153,0,0)
}
SPAN.emphasis EM {
	BACKGROUND-COLOR: white; COLOR: rgb(0,51,51)
}
SPAN.bold STRONG {
	BACKGROUND-COLOR: white; COLOR: rgb(0,51,51)
}
SPAN.section SPAN STRONG.command {
	BACKGROUND-COLOR: white; COLOR: rgb(2,103,137)
}
H3.title CODE.literal {
	BACKGROUND-COLOR: white; COLOR: black
}
DIV.section TABLE {
	MAX-WIDTH: 660px; border-image: none
}
DIV.chapter TABLE {
	MAX-WIDTH: 660px; border-image: none
}
DIV.informaltable TABLE {
	MAX-WIDTH: 660px; border-image: none
}
TABLE TR {
	VERTICAL-ALIGN: top
}
TD {
	BORDER-BOTTOM: gray 0.1em outset; BORDER-LEFT: gray 0.1em outset; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 95%; BORDER-TOP: gray 0.1em outset; BORDER-RIGHT: gray 0.1em outset; PADDING-TOP: 0px; border-image: none
}
TH {
	BACKGROUND-COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-WEIGHT: bold
}
DIV.informaltable TD STRONG {
	BACKGROUND-COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-WEIGHT: bold
}
DIV.col66 P {
	MIN-WIDTH: 600px; MAX-WIDTH: 660px
}
DIV.col66 PRE.programlisting {
	MIN-WIDTH: 600px; MAX-WIDTH: 660px
}
DIV.col66 TABLE {
	MIN-WIDTH: 600px; MAX-WIDTH: 660px
}
DIV.col66 DIV.informaltable TABLE {
	MIN-WIDTH: 600px; MAX-WIDTH: 660px
}
DIV.section SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.section .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.appendix SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.appendix .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.chapter SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.chapter .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.glossary SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.glossary .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.index SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.index .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.book SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.book .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.section DIV.itemizedlist UL LI P SPAN.quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.section DIV.itemizedlist UL LI P .quote {
	PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit; PADDING-TOP: 0px; border-image: none
}
DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: square; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: square; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: circle; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: circle; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: circle; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: circle; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI {
	LINE-HEIGHT: 120%; FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-alpha; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-alpha; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-roman; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-roman; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-roman; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: lower-roman; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.itemizedlist UL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI DIV.orderedlist OL LI {
	LINE-HEIGHT: 120%; LIST-STYLE-TYPE: decimal; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
UL#sectionnav {
	MARGIN-LEFT: 6px
}
UL#sectionnav LI {
	MARGIN-BOTTOM: 4px; MARGIN-LEFT: 4px
}
UL#sectionnav LI.self {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 4px
}
UL#sectionnav LI.self UL.children {
	MARGIN-LEFT: 6px
}
UL#sectionnav LI.self UL.children LI {
	LINE-HEIGHT: inherit; MARGIN-BOTTOM: 0px; HEIGHT: auto
}
P.es {
	BACKGROUND-COLOR: white; FONT-STYLE: normal; COLOR: rgb(204,102,0); FONT-WEIGHT: bold
}
P.cs {
	BACKGROUND-COLOR: white; FONT-STYLE: normal; COLOR: rgb(255,102,0); FONT-WEIGHT: bold
}
H2.docs-list-title {
	FONT-FAMILY: Helvetica, Arial, sans-serif; TEXT-DECORATION: underline
}
SPAN.docs-list-title {
	FONT-SIZE: 50%
}
TABLE.docs-document-list {
	FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 12px; border-image: none
}
TABLE.docs-document-list TR.title {
	TEXT-ALIGN: center; VERTICAL-ALIGN: bottom; FONT-WEIGHT: bold
}
TABLE.docs-document-list TR.even {
	BACKGROUND-COLOR: rgb(239,239,239); COLOR: black; VERTICAL-ALIGN: bottom; border-image: none
}
TABLE.docs-document-list TR.odd {
	BACKGROUND-COLOR: white; COLOR: black; VERTICAL-ALIGN: bottom; border-image: none
}
TABLE.docs-document-list TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px; border-image: none
}
TABLE.docs-document-list TD.title {
	TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-image: none
}
TABLE.docs-document-list TD.link {
	TEXT-ALIGN: center; WIDTH: 70px; border-image: none
}
DIV.oracle-none TH {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: bottom; BORDER-TOP: white 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-grprows TH {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: bottom; BORDER-TOP: white 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-seprows TH {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: bottom; BORDER-TOP: white 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-all TH {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: bottom; BORDER-TOP: white 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-none TD {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: top; BORDER-TOP: white 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-grprows TD {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: top; BORDER-TOP: white 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-seprows TD {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: top; BORDER-TOP: white 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-all TD {
	BORDER-BOTTOM: white 0px solid; TEXT-ALIGN: left; BORDER-LEFT: white 0px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; FONT-STYLE: normal; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 100%; VERTICAL-ALIGN: top; BORDER-TOP: white 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: white 0px solid; PADDING-TOP: 4px; border-image: none
}
DIV.oracle-none P {
	MARGIN: 4px 0px
}
DIV.oracle-grprows P {
	MARGIN: 4px 0px
}
DIV.oracle-seprows P {
	MARGIN: 4px 0px
}
DIV.oracle-all P {
	MARGIN: 4px 0px
}
DIV.oracle-none P.title {
	MARGIN: 8px 0px
}
DIV.oracle-grprows P.title {
	MARGIN: 8px 0px
}
DIV.oracle-seprows P.title {
	MARGIN: 8px 0px
}
DIV.oracle-all P.title {
	MARGIN: 8px 0px
}
DIV.oracle-none TABLE {
	BORDER-BOTTOM: white 0px solid; BORDER-LEFT: white 0px solid; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP: white 0px solid; BORDER-RIGHT: white 0px solid; border-image: none
}
DIV.oracle-grprows TABLE {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: white 1px solid; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP: black 1px solid; BORDER-RIGHT: white 1px solid
}
DIV.oracle-grprows TR {
	BORDER-BOTTOM: white 0px solid; BORDER-LEFT: white 0px solid; BORDER-TOP: white 0px solid; BORDER-RIGHT: white 0px solid; border-image: none
}
DIV.oracle-grprows TH {
	BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-STYLE: hidden; BORDER-LEFT-STYLE: hidden
}
DIV.oracle-grprows TD {
	BORDER-RIGHT-STYLE: hidden; BORDER-LEFT-STYLE: hidden
}
DIV.oracle-seprows TABLE {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: white 1px solid; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP: black 1px solid; BORDER-RIGHT: white 1px solid
}
DIV.oracle-seprows TR {
	BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-STYLE: hidden; BORDER-LEFT-STYLE: hidden
}
DIV.oracle-seprows TH {
	BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-STYLE: hidden; BORDER-LEFT-STYLE: hidden
}
DIV.oracle-seprows TD {
	BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-STYLE: hidden; BORDER-LEFT-STYLE: hidden
}
DIV.oracle-all TABLE {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; border-image: none
}
DIV.oracle-all TH {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; border-image: none
}
DIV.oracle-all TD {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; border-image: none
}
DIV.footnote P {
	LINE-HEIGHT: 125%; MARGIN-TOP: 5px; MARGIN-BOTTOM: 0px; HEIGHT: 100%; FONT-SIZE: 95%
}
TD SPAN.bold STRONG SUP {
	MARGIN-LEFT: 3px; FONT-WEIGHT: normal
}
TD SUP {
	MARGIN-LEFT: 3px; FONT-WEIGHT: normal
}
TABLE.topic-guide TBODY TR TD {
	TEXT-ALIGN: center; LINE-HEIGHT: 180%; FONT-SIZE: 80%
}
DIV.copyright-footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 80%; PADDING-TOP: 10px
}
DIV.status-header {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: Helvetica, Arial, sans-serif; FONT-SIZE: 80%; PADDING-TOP: 10px
}
.alert {
	COLOR: red; FONT-WEIGHT: bold
}
SPAN.term {
	FONT-WEIGHT: bold
}
.added {
	BACKGROUND-COLOR: yellow
}
.deleted {
	BACKGROUND-COLOR: pink
}
.changed {
	BACKGROUND-COLOR: green
}
DIV.table-contents TH {
	BORDER-BOTTOM: grey 0.1em solid; BORDER-LEFT: grey 0.1em solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: grey 0.1em solid; BORDER-RIGHT: grey 0.1em solid; PADDING-TOP: 3px; border-image: none
}
DIV.informaltable TH {
	BORDER-BOTTOM: grey 0.1em solid; BORDER-LEFT: grey 0.1em solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: grey 0.1em solid; BORDER-RIGHT: grey 0.1em solid; PADDING-TOP: 3px; border-image: none
}
DIV.article H2.title {
	FONT-SIZE: 250%
}
DIV.article P.title {
	FONT-SIZE: 120%
}
DIV.article H2.subtitle {
	FONT-SIZE: 110%
}
DIV.article P {
	FONT-SIZE: 100%
}
